click
astropy
networkx
pyyaml
lsst-daf-butler @ git+https://github.com/lsst/daf_butler@v27.0.x
lsst-utils @ git+https://github.com/lsst/utils@v27.0.x
lsst-pipe-base @ git+https://github.com/lsst/pipe_base@v27.0.x
lsst-resources @ git+https://github.com/lsst/resources@v27.0.x
lsst-ctrl-mpexec @ git+https://github.com/lsst/ctrl_mpexec@v27.0.x
