name: build_and_test

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4
        with:
          # Need to clone everything for the git tags.
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: "setup.cfg"

      - name: Update pip/wheel infrastructure
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv pip install --system wheel

      - name: Install dependencies
        run: |
          uv pip install --system -r requirements.txt

      # We have two cores so we can speed up the testing with xdist
      - name: Install pytest packages
        run: |
          uv pip install --system pytest pytest-xdist pytest-cov

      - name: List installed packages
        run: |
          pip list -v

      - name: Build and install
        run: |
          uv pip install --system --no-deps -v .

      - name: Run tests
        run: |
          pytest -r a -v -n 3 --cov=lsst.ctrl.bps --cov=tests --cov-report=xml --cov-report=term --cov-branch \
            --junitxml=junit.xml -o junit_family=legacy
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v4
        with:
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  pypi:

    runs-on: ubuntu-latest
    needs: [build_and_test]
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v4
        with:
          # Need to clone everything to embed the version.
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel build

      - name: Build and create distribution
        run: |
          python -m build --skip-dependency-check

      - name: Upload
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_UPLOADS }}
